mixin video(videoObj)
  div
      a(href=`/videos/${videoObj.id}`)=videoObj.title
      ul
        li #{videoObj.ratings}/5 ratings.
        li #{videoObj.comments} comments.
        li posted #{videoObj.createdAt}.
        li #{videoObj.views} views.