extends base.pug

block content 
  video(src="/" + video.fileUrl, width="700", controls) 
  div  
    p=video.description
    small=video.createdAt
    br
    small Uploaded by 
      a(href=`/users/${video.owner.username}`)=video.owner.username
    ul 
      each hashtag in video.hashtags 
        li=hashtag
    hr
  if String(video.owner._id) === String(loggedInUser._id)
    ul
      li
        a(href=`./${video.id}/edit`) Edit Video ➤
      li
        a(href=`./${video.id}/delete`) Delete Video ➤