extends base.pug

block content 
  div  
    p=video.description
    small=video.createdAt
    ul 
      each hashtag in video.hashtags 
        li=hashtag
    hr
  ul
    li
      a(href=`./${video.id}/edit`) Edit Video ➤
    li
      a(href=`./${video.id}/delete`) Delete Video ➤