extends base.pug

block scripts
  script(src="/static/js/videoPlayer.js", defer)

block content 
  div#videoContainer
    video(src="/" + video.fileUrl, width="700", controls) 
    div#videoControls
      button#play Play
      button#mute Mute
      input#volume(type="range", min=0, max=1, step=0.1)
      div
        span#currentTime 0:00
        span  / 
        span#totalTime 0:00
      div
        input#timeline(type="range", min=0, step=1, value=0)
      div 
        button#fullscreen Enter fullscreen

  //- div  
  //-   p=video.description
  //-   small=video.createdAt
  //-   br
  //-   small Uploaded by 
  //-     a(href=`/users/${video.owner.username}`)=video.owner.username
  //-   ul 
  //-     each hashtag in video.hashtags 
  //-       li=hashtag
  //-   hr
  //- if String(video.owner._id) === String(loggedInUser._id)
  //-   ul
  //-     li
  //-       a(href=`./${video.id}/edit`) Edit Video ➤
  //-     li
  //-       a(href=`./${video.id}/delete`) Delete Video ➤